header {
  height: 100px;
  background-color: blue;
}

body {
  background-color: whitesmoke;
}

footer {
  height: 100px;
  background-color: red;
}

h1 {
  color: navy;
  margin-left: 20px;
}

img{

  align-content: center;
  height: 300px;

}