header {
  height: 100px;
  background-color: blue;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  text-decoration-color: red;
  text-size-adjust: 25;

}

body {
  background-color: whitesmoke;
}

footer {
  height: 100px;
  background-color: red;
  font-style:oblique; 
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

h1 {
  color: navy;
  margin-left: 20px;
}

img{

  display: flexbox;
  align-content: center;
  height: 300px;
  box-shadow: 10px;

}